.notification-card {
  max-width: 500px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.notification-body {
  padding: 10px;
}

.notification-item {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.notification-item:hover {
  background-color: #f0f8ff;
  transform: translateY(-2px);
}

.notification-text {
  color: #333;
  font-size: 14px;
}

.mark-read-btn {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mark-read-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.mark-read-btn:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.mark-read-btn .c-icon {
  color: white;
}

.notification-body::-webkit-scrollbar {
  width: 8px;
}

.notification-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.notification-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.notification-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
